:root{
    --background-clara: #000000;
    --background-escura: #2F4353;
    --font-destaque: #FCC456;
    --font-conteudo: lightgrey;
    --font-azul: #004AAD
    --background-card: #1C2128;
    --cor-linha: #404040;
 }

* {
    box-sizing: border-box;
}

 body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #2F4353;
    height: 100vh;
   }

.app{
    border: 1px solid var(--font-destaque);
    margin: 100px 500px;
    border-radius: 10px;
}   

h1{
    text-align: center;
    color: var(--font-destaque);
    font-size: 3rem;
    margin-bottom: 80px;
}

header{
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    margin: auto auto
}

input{
    height: 60px;
    font-size: 2rem;
    width: 80%;
    padding-left:10%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
button.add{
    width: 20%;
    cursor: pointer;
    background-color:  rgb(76, 175, 76);
    color: white;
    border: none;
    height: 60px;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

main {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    margin: 50px auto;

}

.item{
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    align-items: center;
    background: white;
    border-radius: 10px;
    height: 60px;
    width: 100%;
    box-shadow: 0 0 5px #ccc;
    margin-bottom: 2%;
    cursor: pointer;
}

.item.clicado{
    background: rgb(207, 204, 204);
}

.item.clicado .item-nome{
    text-decoration: line-through;
    color: grey;
}

.item-icone{
    flex: 20%; 
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.item-nome{
    flex: 55%;
}

.item-botao{
    flex: 25%; 
    border-radius: 10px;
}

.delete{
    background: rgb(187, 52, 52);
    border: none;
    color: white;
    height: 60px;
    width: 100%;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.mdi-check-circle{
    color: rgb(76, 175, 76);;
}